{% extends "layout.html" %}
{% block title %}{{ this.title }}{% endblock %}
{%block sponsors %}
<div style="display: inline-block;">
<a href="https://www.eurocontrol.int/"><img src="{{ '/static/images/eurologo.jpg'|url }}" /></a>
<a href="http://www.faa.gov/"> <img src="{{ '/static/images/logoFAA.png'|url }}" style="width: 120px; height: 120px;"  /></a>
{{this.additional_sponsors}}
</div>
{% endblock %}
{%block past_seminars %}       
{%if not this._path.startswith("/past-seminars") %}
    <h3>Past Seminars</h3>
    <ul class="pastseminars">
        <li><a href="{{ '/14th-seminar'|url }}">14th Seminar - 2021 Virtual</a></li>
        <li><a href="{{ '/13th-seminar'|url }}">13th Seminar - 2019 Vienna, Austria</a></li>
        <li><a href="{{ '/12th-seminar'|url }}">12th Seminar - 2017 Seattle, Washington, USA</a></li>
        <li><a href="{{ '/11th-seminar'|url }}">11th Seminar - 2015 Lisbon, Portugal</a></li>
        <li><a href="{{ '/10th-seminar'|url }}">10th Seminar - 2013 Chicago, Illinois</a></li>
        <li><a href="{{ '/9th-seminar'|url }}">9th Seminar - 2011 Berlin, Germany</a></li>
        <li><a href="{{ '/8th-seminar'|url }}">8th Seminar - 2009 Napa, CA, USA</a></li>
        <li><a href="{{ '/7th-seminar'|url }}">7th Seminar - 2007 Barcelona, Spain</a></li>
        <li><a href="{{ '/6th-seminar'|url }}">6th Seminar - 2005 Baltimore, MD, USA</a></li>
        <li><a href="{{ '/5th-seminar'|url }}">5th Seminar - 2003 Budapest, Hungary</a></li>
        <li><a href="{{ '/4th-seminar'|url }}">4th Seminar - 2001 Santa Fe, NM, USA</a></li>
        <li><a href="{{ '/3rd-seminar'|url }}">3rd Seminar - 2000 Napoli, Italy</a></li>
        <li><a href="{{ '/2nd-seminar'|url }}">2nd Seminar - 1998 Orlando, FL, USA</a></li>
        <li><a href="{{ '/1st-seminar'|url }}">1st Seminar - 1997 Saclay, France</a></li>
    </ul>
{%endif%}
{% endblock %}
