{% extends "generic_page.html" %}
{% block body %}

<div class="row">
    <div class="col-sm-8">
    
        <h2>{{this.title}}</h2>
    
        {{this.body}}
       
        <p align="center">
            <br/>
        
        {{self.sponsors()}}
        </p>
    </div>
       

    <div class="col-sm-4">
     
        <br/>
   <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" width="100%" height="200px" src="https://www.youtube.com/embed/8HJSH48lSbc?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
         <p align="center">   June 23-25, 2015 – Lisbon, Portugal    </p>
        
</div>

        {{self.past_seminars()}}
       
</div>
    
    
</div>

{% endblock %}
