<!-- Navigation -->


<!-- Navbar -->
<header class="header navbar navbar-expand-lg navbar-light bg-light shadow-sm fixed-top">
    <div class="container px-3">
        <a href="{{'/' | url }}" class="navbar-brand pe-3">
            <img src="{{'/static/img/ATM_Globe_2025.jpg' | url}}" width="47" alt="ATRD Symposium">
            ATRD Symposium
        </a>
        <div id="navbarNav" class="offcanvas offcanvas-end">
            <div class="offcanvas-header border-bottom">
                <h5 class="offcanvas-title">Menu</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a href="{{'/upcoming-symposium' | url}}" class="nav-link">Upcoming <br/>Symposium 2026</a>
                    </li>

                    <li class="nav-item">
                        <a href="{{'/#committee'|url}}" class="nav-link" data-scroll>Committee</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{'/#venue'|url}}" class="nav-link" data-scroll>Venue</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Past Seminars</a>

                        <ul class="dropdown-menu">
                        {% set previous_seminars = site.get('/past-seminars/') %}
                        {% for child in previous_seminars.children | sort(attribute='start_date', reverse=True) %}

                        <li>
                        {% if child.short_menu_name %}
                        <a href="{{ child | url}}" class="dropdown-item">{{child.short_menu_name}}</a>
                        {% else %}
                        <a href="{{ child | url}}" class="dropdown-item">{{child.start_date.year}} - {{child.title[:child.title.find(' ')]}} ATM Seminar</a>
                        {% endif %}
                         </li>
                        {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            {#
            <!--div class="offcanvas-footer border-top">
                <a href="{{'/upcoming-conference/registration/' | url}}" class="btn btn-primary w-100">Registration</a>
            </div-->
            #}
        </div>
        <button type="button" class="navbar-toggler" data-bs-toggle="offcanvas" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {#
        <!--a href="{{'/upcoming-conference/registration/' | url }}" class="btn btn-primary btn-sm fs-sm rounded d-none d-lg-inline-flex">
            Registration
        </a-->
        #}
    </div>
</header>

