{% if schedule_data is not defined %}
  {% set schedule_data = schedule_csv(this.attachments) %}
{% endif %}

{% if paper_base_link is not defined %}
  {% set paper_base_link = './upcoming-symposium/papers-and-presentations/#paper-' %}
{% endif %}

{% if schedule_abbreviated is not defined %}
  {% set schedule_abbreviated = True %}
{% endif %}

{% block schedulebody %}
<!-- Schedule -->
    <div class="row mt-xl-2 mb-xl-3 pb-3 py-md-4 py-lg-5">

        <div class="col-lg-3 mb-4">

            <!-- Nav tabs -->
            <div class="nav flex-nowrap flex-lg-column nav-tabs" role="tablist" aria-orientation="vertical">
                {% for idx, day_value in enumerate(schedule_data.days) %}
                    {% set first_day = idx==0 %}
                    {% set day_string = day_value[0] %}
                    {% set day_number = day_value[1] %}
                    <a href="#day-{{day_number}}" class="nav-link d-block w-100 rounded-3 p-3 p-xl-4 mb-lg-3 {% if first_day %}active{% endif %}" id="day-{{day_number}}-tab" data-bs-toggle="tab" role="tab" aria-controls="day-{{day_number}}" aria-selected="{% if first_day %}true{%else%}false{%endif%}">
                        <div class="fs-4 fw-bold"><center>{{day_string}}</center></div>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-8 offset-lg-1">

            <!-- Tab panes -->
            <div class="tab-content">


                {% for day_number, events in schedule_data.events_by_day.items() %}
                {% set day_string = schedule_data.get_day_string(day_number) %}
                <!-- Day 2 schedule -->
                <div class="tab-pane fade {% if day_number==1 %}show active{%endif%}" id="day-{{day_number}}" role="tabpanel" aria-labelledby="day-{{day_number}}-tab">
                    {% for event in events %}
                    <div class="border-bottom pb-4">
                        <div class="row pb-1 pb-xl-3">
                            <div class="col-sm-4 mb-3 mb-sm-0">
                                <div class="h5 mb-1">{{event["Time Format"]}}</div>
                                <p class="text-muted mb-0">{{event["Day Format"]}}</p>
                            </div>
                            <div class="col-sm-8">
                                {% if event["Event Type"] != "Tracks"%}
                                    <h5>{{event["Event Title"]}}</h5>
                                    {% if event["Event Subtitle"] %}
                                    <h6>
                                        {% if event["Event Subtitle Link"]%}
                                        <a href="{{event["Event Subtitle Link"]|safe}}">
                                        {% endif %}
                                        {{event["Event Subtitle"]}}
                                        {% if event["Event Subtitle Link"]%}
                                        </a>
                                        {% endif %}
                                    </h6>

                                    {% endif %}
                                    {% if event["Event Speaker"]%}
                                    <p>{{event["Event Speaker"]}}</p>
                                    {% endif%}
                                {% else %}
                                <h5> Session </h5>
                                    {%for session in event["Sessions"]%}
                                    {%set session_details = event["Sessions"][session] %}
                                    <h6>Track {{session_details["Track"]}} - {{session}}</h6>
                                    <p>Chair {{session_details["Chair"]}} <br/> Room {{session_details["Room"]}}</p>
                                    <ul>
                                        {% for paper in event["Sessions"][session]["Papers"].values() %}
                                        <li><b>{{paper['Presenter']}}</b> - <i><a href="{{paper_base_link + paper['Paper ID'] | url }}">{{paper['Paper Title']}}</a></i> <br/>
                                            {{paper['Paper Authors']}}
                                        </li>
                                        {% endfor %}
                                    </ul>

                                    {% endfor %}
                                {% endif %}
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}
